<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/styleSongList.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Lyrical App</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}"><img src="../../static/pics/lyricus_logo.png"></a>
        <ul class="menu">
            <li><a href="{% url 'artist:artist_list' %}">Artyści</a></li>
            <li><a href="{% url 'song:album_list' %}">Albumy</a></li>
            <li><a href="{% url 'song:song_list' %}">Piosenki</a></li>
            <li><a href="{% url 'dashboard' %}">Profil</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
        </ul>
    </nav>
    <main>
        <h1 class="title">Lista Piosenek</h1>
        <div class="wrap">
            <form action="" class="searchbar" method="GET">
                <input type="text" class="searchTerm" name="search_query" placeholder="Search songs...">
                <button type="submit" class="searchButton"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>

        <div class="songs">
            <table class="songs_table">
                <tr><th>Tytuł</th><th>Wykonawca</th><th>Album</th></tr>
                    {% for song in songs %}
                        <tr><td><a href="{% url 'song:song_detail' song.id %}">{{ song.song_name }}</a></td><td><a href="{% url 'artist:artist_detail' song.artist_id %}">{{ song.artist }}</a></td><td><a href="{% url 'song:album_detail' song.album_id %}">{{ song.album }}</a></td></tr>
                    {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>