{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleContact.css' %}">
    <script src="https://kit.fontawesome.com/6340fe00a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id='menu'>
        <a href="{% url 'index' %}"><img src="{% static 'pics/lyricus_logo2.png' %}" alt="logo"></a>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href="{% url 'artist:artist_list' %}">Artyści</a></li>
            <li><a href="{% url 'song:album_list' %}">Albumy</a></li>
            <li><a href="{% url 'song:song_list' %}">Piosenki</a></li>
            <li><a class='dropdown-arrow' href='#'><i class="fa fa-user" aria-hidden="true"></i></a>
            <ul class='sub-menus'>
                {% if user.is_authenticated %}
                <li><a href="{% url 'request_list' %}">Zgłoszenia</a></li>
                <li><a href="{% url 'favorite_list' %}">Ulubione</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Wyloguj</a></li>
                {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Logowanie</a></li>
                <li><a href="{% url 'register' %}?next={{ request.path }}">Rejestracja</a></li>
                {% endif %}
            </ul>
            <li><a href="{% url 'contactpage:contact' %}">Kontakt</a></li>
        </ul>
    </nav>
    <main>
        <div id="login-form-container">
            <h1>Kontakt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Wyślij</button>
            </form>
        </div>
    </main>
</body>
</html>
