<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Lyrical App</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}"><img src="../../static/pics/lyricus_logo.png"></a>
        <ul class="menu">
            <li><a href="{% url 'artist:artist_list' %}">Artyści</a></li>
            <li><a href="{% url 'song:album_list' %}">Albumy</a></li>
            <li><a href="{% url 'song:song_list' %}">Piosenki</a></li>
            <li><a href="{% url 'dashboard' %}">Profil</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
        </ul>
    </nav>
    <h1>Ostatnio dodane</h1>
    <ul>
        {% for song in latest_songs %}
            <li>{{ song.song_name }} - {{ song.artist }} ({{ song.release_date }})</li>
        {% endfor %}
    </ul>
    <h1>Najpopularniejsze</h1>
    <ul>
        {% for song in popular_songs %}
            <li>{{ song.song_name }} - {{ song.artist }} ({{ song.views }})</li>
        {% endfor %}
    </ul>

</body>
</html>