<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Lyrical App</title>
</head>
<body>
    <nav>
        <ul>
            <img src="../../static/pics/lyricus_logo.png">
            <li style="float:left;"><a href="user">Profil</a></li>
            <li style="float:left;"><a href="user/login">Logowanie</a></li>
            <li style="float:left;"><a href="user/register">Rejestracja</a></li>
            <li style="float:right; padding-right: 50px;"><a href="artist_list">Artyści</a></li>
            <li style="float:right"><a href="song/album">Album</a></li>
            <li style="float:right"><a href="song/song">Piosenki</a></li>
        </ul>
    </nav>
    <div id="grad"></div>
</body>
</html>