{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Lyrical App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleLogin.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <nav id='menu'>
        <a href="{% url 'index' %}"><img src="{% static 'pics/lyricus_logo2.png' %}" alt="logo"></a>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href="{% url 'artist:artist_list' %}">Artyści</a></li>
            <li><a href="{% url 'song:album_list' %}">Albumy</a></li>
            <li><a href="{% url 'song:song_list' %}">Piosenki</a></li>
            <li><a class='dropdown-arrow' href='#'><i class="fa fa-user" aria-hidden="true"></i></a>
            <ul class='sub-menus'>
                {% if user.is_authenticated %}
                <li><a href="{% url 'request_list' %}">Zgłoszenia</a></li>
                <li><a href="{% url 'favorite_list' %}">Ulubione</a></li>
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" >Logowanie</a></li>
                <li><a href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
            </ul>
            <li><a href="{% url 'contactpage:contact' %}">Kontakt</a></li>
        </ul>
    </nav>
    <main>
        <div id="login-form-container">
            <h1 id="loginname">Logowanie</h1>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{loginform.as_p}}
                <input type="submit" value="Zaloguj">
            </form>
            <div class="link-text">
                Nie masz jeszcze konta? <a href="{% url 'register' %}">Załóż konto</a>
            </div>
        </div>
    </main>
</body>
</html>