@font-face {
    font-family: "RadioCanadaBig-Regular";
    src: url("../fonts/RadioCanadaBig-Regular.ttf") format("truetype");
}

body {
    background: #D16D05FF linear-gradient(rgba(209, 109, 5, 1) 0%, rgba(219, 20, 199, 1) 100%);
    font-family: sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 30vw 10vw 10vw 30vw;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 9vh;
    grid-template-areas:
        'nav nav nav nav '
        'main main article article'
        'footer footer footer footer';
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #1E1E1C;
    font-size: 13px;
    grid-area: nav;
    z-index: 1;
}

main{
    grid-area: main;
    color: #000000;
    background: linear-gradient(#262724FF 0%, #656865FF 100%);
    bottom: 40px;
    margin-top: -17px;
    margin-right: -10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    text-align: center;
    font-family: RadioCanadaBig-Regular, serif ;
    z-index: 0;
}

.leftBar{
    position: sticky;
    top: 60px;
}

main h1, footer h1{
    font-size: 300%;
}

p > a{
    font-size: 200%;
    color: #000000;
}

article{
    grid-area: article;
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 5vw;
}

form{
    margin-bottom: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #1E1E1C;
    padding:0;
}

.menu > li {
    float: left;
    font-weight: bold;
}

.menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    height: 20px;
    transition: background-color 0.4s ease, font-size 0.4s ease;
}

.menu > li a:hover {
    background-color: #111;
    font-size: 110%;
}

.menu > li:nth-child(-n + 3){
    float: left;
}

.menu > li:nth-last-child(-n + 3){
    float: right;
}

nav > a > img {
    float: left;
    padding: 14px 30px;
    height: 22px;
}

iframe{
    width: 40vw;
    height: 40vh;
}

pre{
    font-family: RadioCanadaBig-Regular, serif;
    font-size: 150%;
    line-height: 1.8;
}

#fav{
    background: #1e1e1c;
    color: white;
    border: none;
    width: 100%;
    height: 6vh;
    font-family: RadioCanadaBig-Regular, serif;
    font-size: 130%;
    transition: background 0.4s ease, font-size 0.4s ease;
}

#fav:hover{
    background: #111;
    font-size: 140%;
    cursor: pointer;
}

footer{
    grid-area: footer;
    background: linear-gradient(#656865FF 0%, #262724FF 100%);
    width: 99vw;
    margin-top: -70px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    align-items: center;
    text-align: center;
    position: relative;
    clear: both;
}

footer > form > p > label{
    opacity: 0;
}

footer > form > p > textarea{
    width: 70%;
    height: 5vh;
    border: none;
    border-radius: 20px;
    resize: none;
}

footer > form > button{
    border-radius: 20px;
    height: 4vh;
    position: relative;
    border: none;
    top:-6.7vh;
    left: 30.5vw;
    background: linear-gradient(0.25turn, rgba(209, 109, 5, 1) 0%, rgba(219, 20, 199, 1) 100%);
    color: white;
    transition: background 0.4s ease;
}

footer > form > button:before{
    background: linear-gradient(0.25turn, rgb(218, 20, 198) 0%, rgb(208, 109, 5) 100%);
}

footer > form > button:hover{
    opacity: 0;
}

footer > form > button:before:hover{
    opacity: 1;
}

footer > ul, footer > ul > li > ul{
    list-style-type: none;
}
