@import "styles.css";

body{

}

.mainView{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
}

.lastAdd, .popular{
    background: #1e1e1c;
    text-align: center;
}

.lastAdd > h1, .popular > h1{
    color: white;
}

.songContainer{
    width: 10vw;
}

.gallery{
    overflow: hidden;
    margin-left: 25px;
    width: 42vw;
}

.gallery-content{
    display: flex;
    transition: transform 0.4s ease;
}

.songItem{
    display: flex;
    background: rgba(255, 49, 49, 1);
    margin: 10px;
    height: 43vh;
    text-align: center;
    transition: background 0.4s ease, transform 0.4s ease;
}

.songItem:hover{
    background: rgb(255, 91, 91);
}

.songItem > p{
    overflow-wrap: break-word;
}

.songItem > a > .songName{
    font-size: 150%;
    font-weight: bold;
}

.songItem > a{
    text-decoration: none;
    color: white;
}

.songItem > a > img{
    width: 10vw;
    aspect-ratio: 1/1;
    display: block;
}

.arrow{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: 50%;
}

.left-arrow{
    float: left;
    top:23vh;
    left: 0;
}

.right-arrow{
    float: left;
    top:-27vh;
    right: -45vw;
}