@import "styleAlbumDetali.css";

.topBar > h1{
    font-size: 300%;
}

.leftInfo{
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
}


.leftInfo > h3, article > h3{
    text-align: center;
    font-size: 150%;
}
