body {
    background: #D16D05FF linear-gradient(rgba(209, 109, 5, 1) 0%, rgba(219, 20, 199, 1) 100%);
    font-family: sans-serif;
    font-size: 2vh;
    margin: 0;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 10vh;
    background-color: #1E1E1C;
}

img {
    float: left;
    height: 4vh;
    padding: 3vh 4vh
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4vh 4vh;
    transition: background-color 0.4s ease, font-size 0.4s ease;
}

li a:hover {
    background-color: #111;
    font-size: 3vh;
}