@import "styleSongDetail.css";

@font-face {
    font-family: "RadioCanadaBig-Regular";
    src: url("../fonts/RadioCanadaBig-Regular.ttf") format("truetype");
}

body{
    row-gap: 0;
    column-gap: 0;
    grid-template-areas:
        'nav nav nav nav nav'
        'topB topB topB topB topB'
        'leftI leftI leftI article article';
}

.topBar{
    width: 100%;
    background: linear-gradient(rgba(209, 109, 5, 1) 0%, rgba(219, 20, 199, 1) 100%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-area: topB;
}

.topBar > h1{
    font-size: 220%;
}

.topBar > h2 > a{
    text-decoration: none;
    color: black;
    font-size: 110%;
    transition: font-size 0.4s ease;
}

.topBar > h2 > a:hover{
    font-size: 120%;
}

.leftInfo{
    width: 100%;
    height: 70vh;
    float: left;
    background: linear-gradient(#656865FF 0%, #262724FF 100%);
    color: white;
    font-family: RadioCanadaBig-Regular, serif;
    grid-area: leftI;
}

.boxContent{
    background: linear-gradient(rgba(219, 20, 199, 1) 0%, rgba(209, 109, 5, 1) 100%);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    font-size: 140%;
}

article{
    background: linear-gradient(#656865FF 0%, #262724FF 100%);
    margin-top: 0;
}

ol{
    font-size: 150%;
}

ol > li{
    border-bottom: 2px solid #D16D05;
    background: #1E1E1C;
    margin-bottom: 2vh;
    padding: 10px;
    width: 90%;
    transition: background 0.4s ease, font-size 0.4s ease;
}

ol > li:hover{
    background: #000000;
    font-size: 120%;
}

li > a{
    text-decoration: none;
    color: white;
}