@import "styleLogin.css";

input[type="email"] {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #32322F;
    color: white;
}