@import "styleSongList.css";

.albums {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size:18px;
}

.albums_table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.albums_table a {
    text-decoration: none;
    color: white;
}

.albums_table td {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px dotted;
}

.albums_table th {
    color: #828282;
}

.albums_table th:first-child {
    color: #828282;
    text-align: center;
}

.albums_table td:first-child {
    margin: 0;
    padding: 0;
    text-align: center;
}

.albums_table tr:hover:not(:first-child) {
    background-color: #D16D05FF;
}

table img{
    margin: 0;
    padding: 0;
    padding-top: 0px;
    height:30px;
    width: 30px;
}

.albums_table td {
    height: 30px;
}

.albums_table td:first-child {
    width: 4%;
}

.albums_table td:not(:first-child) {
    width: 48%;
}